.usersWrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.loadUsers{
  width: 150px;
  padding: 10px 0px;

  background-color: rgb(228, 230, 231);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all .15s ease;
  font-weight: 600;
  text-transform: lowercase;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
}
.loadUsers:hover{
  background-color: rgb(219, 220, 221);
}
.navigationButton{
  display: inline-block;
  padding: 4px;
  background-color: rgb(228, 230, 231);
  border-radius: 3px;
  cursor: pointer;
  transition: all .13s ease;
  margin: 0 3px 3px 3px;
  min-width: 15px;
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
}
.navigationButton.active{
  color: rgba(255, 255, 255, 1);
  background-color: rgb(35, 125, 170);
}
.navigationButton:not(.active):hover{
  background-color: rgb(219, 220, 221);
}
.titleWrapper{
  display: flex;
  align-items: flex-end;
}
.preloaderWrapper{
  margin: 0 0 -5px 10px;
}