.header{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;

    border-radius: 0 0 5px 5px;
    background-color: rgb(66, 127, 197);

}
.logo__container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo{
    display: block;
    width: 40px;
    height: 40px;
}
.auth{
    display: flex;
}
.authRight, .authLeft{
    display: inline-block;
}
.authRight{
    margin-left: 10px;

}
.authAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.authRight{
    display: flex;
    flex-direction: column;
    color: #ffff;
}
.authName{
    font-weight: 700;
}
.authEmail{
    opacity: 0.7;
    font-size: 14px;
}