.background{
  min-height: 200px;
  background-image: url('https://t3.ftcdn.net/jpg/00/78/15/18/360_F_78151851_4JMoSsNPUpHuHa7DkBfHnZhb1KYY44Dy.jpg');
  background-position: 50% 70%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -30px -30px 0 -30px;
}
.description{
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
}
.descriptionLeft{
  margin-right: 20px;
}
.photoProfile{
  border-radius: 50%;
}
.detailDescription{
  margin-top: 30px;
}